@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap");
.head-about-us {
    height: 90vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.062),
        rgba(255, 255, 255, 0.445)
        ),
        url("../Images/modern-corporate-architecture-can-be-seen-cityscape-office-buildings_410516-276.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head-about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
}
.main-title {
    text-transform: uppercase;
}

.font-about-color {
    font-weight: 600;
    color: rgb(16, 19, 46);
    font-size: 2.7rem;
    font-family: "Inconsolata", monospace;
}

.about-us-color {
    background-color: #94939342;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CEO-section {
    background-color: #4644441c;
}
.CEO-container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0rem;
}
.CEO-container .CEO-img,
.CEO-container .CEO-text {
    width: 555px;
}
.CEO-container .CEO-heading {
    font-family: "Roboto Slab", serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.527);
}
.CEO-container .CEO-img img {
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.signature {
    font-family: "Asap Condensed", sans-serif;
    font-size: 2.5rem;
    padding-top: 0.5rem;
}
.set-apart-color{
    background-color: #94939317;
}
.join-color{
    background-color: #94939338;
}
@media (max-width: 768px) {
    .CEO-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .CEO-container .CEO-img,
    .CEO-container .CEO-text {
        width: 100%;
    }
    .signature {
        padding-bottom: 1rem;
    }
    .about-us-container .about-image {
        order: 1;
        padding-bottom: 2.5rem;
    }
    .about-text {
        order: 2;
    }
    .head-about-us {
        text-align: center;
        background-position: top;
        height: 70vh;
    }
}
